Repository croftoncloud/crofton.cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: cfn-lint, cfn-nag, pylint

cfn-lint:
  name: CloudFormation Lint
  entry: cfn-lint
  language: system
  description: Validate CloudFormation templates with cfn-lint

cfn-nag:
  name: CloudFormation Security Scan
  entry: cfn_nag_scan --input-path
  language: system
  pass_filenames: false
  args:
  - cloudformation/
  description: Security scan CloudFormation templates with cfn-nag
  stages:
  - pre-push

pylint:
  name: Pylint
  entry: pylint
  language: system
  args:
  - --disable=C0301
  description: Run pylint on Python files

Fix deploy workflow to skip AWS validation on PRs
  .github/workflows/deploy.yml
Due: none

Address security scan findings with inline exceptions
  cloudformation/cfn-website-framework.yaml
  cloudformation/deploy.py
  cloudformation/github-oidc-deploy-role.yaml
  cloudformation/index.html
  requirements.txt
Due: cfn-lint, cfn-nag, pylint

Add ghaworkflow to CODEOWNERS
  .github/CODEOWNERS
Due: none

Add serverless contact form with Lambda, API Gateway, and SES
  .github/workflows/deploy.yml
  cloudformation/cfn-contact-form.yaml
  cloudformation/contact.html
  cloudformation/github-oidc-deploy-role.yaml
  lambda/contact_form.py
Due: cfn-lint, cfn-nag, pylint

Address security findings in contact form template
  cloudformation/cfn-contact-form.yaml
Due: cfn-lint, cfn-nag

Add static site generator with Jinja2 templates
  .github/workflows/deploy.yml
  .gitignore
  requirements.txt
  site/generate.py
  site/static/styles.css
  site/templates/base.html
  site/templates/contact.html
  site/templates/index.html
  site/templates/resume.html
  site/templates/services.html
Due: pylint

Fix CloudFormation ValidateTemplate permission
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Add architecture documentation page
  site/generate.py
  site/static/styles.css
  site/templates/architecture.html
  site/templates/base.html
Due: pylint

Update CLAUDE.md and README.md documentation
  CLAUDE.md
  README.md
Due: none

Fix deploy.py for CI and add PolyForm Noncommercial license
  CLAUDE.md
  LICENSE
  README.md
  cloudformation/deploy.py
Due: pylint

Fix ACM certificate handling for existing certificates
  cloudformation/deploy.py
Due: pylint

Add API Gateway tagging permissions and document release process
  CLAUDE.md
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Run lint PR workflow on PRs to develop branch
  .github/workflows/lint_on_pull_request.yaml
Due: none

Simplify to GitHub Flow branching strategy
  .github/workflows/deploy.yml
  .github/workflows/sast.yml
  CLAUDE.md
  README.md
Due: none

Add API Gateway tagging permissions
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Fix logs:DescribeLogGroups permission for CloudFormation
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Fix comprehensive IAM permissions for CloudFormation deployment
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Add cfn-lint ignore for W3037 false positive
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Add CloudWatch Logs delivery permissions for API Gateway access logging
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Add KMS grant permissions for Lambda encrypted environment variables
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Add Lambda concurrency permissions for ReservedConcurrentExecutions
  cloudformation/github-oidc-deploy-role.yaml
Due: cfn-lint, cfn-nag

Path conditions:
  cfn-lint: any of: cloudformation/.*\.ya?ml$ and \.(yaml|yml)$
  cfn-nag: any of: cloudformation/.*\.ya?ml$ and \.(yaml|yml)$
  pylint: any of: \.py$
